@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg;
  color: #646cff;

}

.campaign-card {
  @apply bg-light-dark p-6 rounded-xl transition-transform hover:scale-105;
}

.donation-button {
  @apply px-6 py-3 bg-green-500 text-white rounded-lg hover:bg-green-600 transition-colors;
}

/* Add these styles */
.campaign-card {
    background-color: #1a1a1a;
    border-radius: 12px;
  }
  
  .status-tag {
    background-color: white !important;
    color: black !important;
  }
  
  .upload-button {
    background-color: white;
    color: black;
  }